@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  background-color: #0b1329 !important;
  font-family: inherit;
}
.leaflet-tile {
  filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}
